h1 {
  font-family: vtf_misterpixelregular;
  font-size: 3rem;
}

h2 {
  font-family: vtf_misterpixelregular;
  text-transform: uppercase;
  font-size: 1.8rem;
}

h3 {
  font-family: vtf_misterpixelregular;
  font-size: 1rem;
  letter-spacing: 1px;
}

p,
input,
label {
  font-family: pt-mono;
  font-size: 1rem;
}

.number,
.screen button {
  font-family: pt-mono;
  font-size: 1.3rem;
}

.form-button {
  font-family: vtf_misterpixelregular;
  font-size: 1rem;
}
