$themes: (
  80s-dream:
    (
      main-color: #1e00ff,
      secondary-color: #f4e861,
      light-color: white,
      dark-color: #393939,
      theme-background-img: "https://i.guim.co.uk/img/media/8d59925b6e10f2d96d3ef8388e3d7e5b8371257d/0_140_4571_2744/master/4571.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=cb52a2af9fd82671e2ffdff819badd83",
      box-shadow: 10px 5px 0px yellow,
    ),
  Vortex: (
    main-color: #000000,
    secondary-color: #79ffa8,
    light-color: white,
    dark-color: #393939,
    box-shadow: 10px 5px 0px green,
  ),
  Pastel-heaven: (
    main-color: pink,
    secondary-color: rgb(194, 228, 255),
    light-color: white,
    dark-color: #393939,
    box-shadow: 10px 5px 0px red,
  )
);
