$themes: (
  80s-dream:
    (
      header-color: #1e00ff,
      border-color: #1e00ff,
      text-color: black,
      header-txt-color: white,
      splash-color: #1e00ff,
      text-shadow: 4px 4px #f4e861,
      button-color: black,
      form-button-color: black,
      shadow-color: #f4e861,
      background-color: white,
      overview-section: #1e00ff,
      box-shadow: 10px 5px 0px #f4e861,
      bottom-section: #1e00ff,
      bottom-section-txt: white,
      confirm-button: #1e00ff,
      theme-background-img: url("https://markusjorgensen.dk/80s-dream.png"),
    ),
  Vortex: (
    header-color: black,
    border-color: white,
    text-color: white,
    splash-color: #79ffa8,
    text-shadow: 4px 4px #3e3e3e,
    header-txt-color: white,
    button-color: white,
    form-button-color: black,
    shadow-color: #79ffa8,
    background-color: black,
    overview-section: #79ffa8,
    box-shadow: 10px 5px 0px #79ffa8,
    bottom-section: black,
    bottom-section-txt: white,
    confirm-button: #79ffa8,
    theme-background-img: url("https://markusjorgensen.dk/vortex.png"),
  ),
  Pastel-heaven: (
    main-color: pink,
    secondary-color: rgb(194, 228, 255),
    light-color: white,
    dark-color: #393939,
    box-shadow: 10px 5px 0px red,
    theme-background-img: url("https://markusjorgensen.dk/pastel-heaven.png"),
  )
);
