/* scrollsnap */

// #screen1 {
//   background-color: lightgreen;
// }
// #screen2 {
//   background-color: pink;
// }
// #screen3 {
//   background-color: blue;
// }
// #screen4 {
//   background-color: yellow;
// }

// body {
//   overflow: hidden;
// }

// #content-wrapper {
//   scroll-snap-type: x mandatory;
//   display: flex;
//   -webkit-overflow-scrolling: touch;
//   overflow-x: scroll;
// }

// .screen {
//   border-right: 1px solid white;
//   padding: 1rem;
//   min-width: 100vw;
//   height: 90vh;
//   text-align: center;
//   position: relative;
//   transition: all 1s ease;
//   scroll-snap-align: center;
// }

.testbutton {
  font-size: 5rem;
}

nav ul {
  display: flex;
  list-style-type: none;
}

// SLET MIG
// .slide-left {
//   animation: slide-leftkf 5s linear 1 both;
// }

// @keyframes slide-leftkf {
//   100% {
//     transform: translateX(-100vw);
//   }
// }
