// header

#top-header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100vw;
  z-index: 10000;
}

#top-spacer {
  height: 50px;
  z-index: 10000;
}

#main-wrapper {
  position: relative;
  place-items: center;
}
